web/WEB-INF/wsdl/localhost_8080/ASMBank-war/PaymentService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="PaymentService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/ASMBank-war/PaymentService?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="payment">
<part name="parameters" element="tns:payment"/>
</message>
<message name="paymentResponse">
<part name="parameters" element="tns:paymentResponse"/>
</message>
<message name="UHistory">
<part name="parameters" element="tns:UHistory"/>
</message>
<message name="UHistoryResponse">
<part name="parameters" element="tns:UHistoryResponse"/>
</message>
<message name="PHistory">
<part name="parameters" element="tns:PHistory"/>
</message>
<message name="PHistoryResponse">
<part name="parameters" element="tns:PHistoryResponse"/>
</message>
<portType name="PaymentService">
<operation name="login">
<input wsam:Action="http://service/PaymentService/loginRequest" message="tns:login"/>
<output wsam:Action="http://service/PaymentService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="payment">
<input wsam:Action="http://service/PaymentService/paymentRequest" message="tns:payment"/>
<output wsam:Action="http://service/PaymentService/paymentResponse" message="tns:paymentResponse"/>
</operation>
<operation name="UHistory">
<input wsam:Action="http://service/PaymentService/UHistoryRequest" message="tns:UHistory"/>
<output wsam:Action="http://service/PaymentService/UHistoryResponse" message="tns:UHistoryResponse"/>
</operation>
<operation name="PHistory">
<input wsam:Action="http://service/PaymentService/PHistoryRequest" message="tns:PHistory"/>
<output wsam:Action="http://service/PaymentService/PHistoryResponse" message="tns:PHistoryResponse"/>
</operation>
</portType>
<binding name="PaymentServicePortBinding" type="tns:PaymentService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="payment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PaymentService">
<port name="PaymentServicePort" binding="tns:PaymentServicePortBinding">
<soap:address location="http://localhost:8080/ASMBank-war/PaymentService"/>
</port>
</service>
</definitions>